<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
	 <form action="/login" method="POST">
		<div th:if="${param.error}" class="alert alert-danger">Informacoes Incorretas</div>
		<label>Email: </label><input type="email" name="email"><br>
		<label>Senha: </label><input type="password" name="senha"><br>			
		<input type="submit" value="Entrar">
	</form>
	
	
	
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>